/* Tag Selectors */
body {
  margin: 0;
  background-color: #99A799;
  font-family: 'Source Code Pro', monospace;
  color: #32502E;
}
h1 {
    margin-top:  0;
    font-family: 'Roboto Slab', serif;
    color: #F2DDC1;
}
a {
  outline: none;
  text-decoration: none;
  text-transform: lowercase;
}
a:link{
  color: #32502E;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;

}
a:hover{
  text-decoration: underline;
  text-transform: capitalize;
  background: #F9F3DF;
}
a:visited{
  color: #32502E;
}
td {
  margin-left: 75%;
}
/* Class Selectors */
.header-text{
  width: 100%;
  display: inline-block;
  border: 10px;
}
.link-spacer{
  padding: 5px;
}
.profile-pic{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
