/* Tag Selectors */
body {
  background-color: #334756;
  color: #F4EEE8;
}
hr {
  border-style: none;
  border-top-style: solid;
  border-color: #8CA1A5;
  border-width: 1px;
  width: 100%;
}
a:visited {
  color: #B2AB8C;
}
th {
  background-color: #334756;
}
h1 {
  color: #FF4C29;
}
h3 {
  color: #FF4C29;
}

/* Class Selectors */
.picture {
  background-color: #FF4c29;
}
.circular {
  border-radius: 100%;
}
